body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0%;
    height: 100%;
    background: linear-gradient(to left, #000000, #8e44ad);
    color: #fff;
    animation: gradientAnimation 3s linear infinite alternate;
    background-size: 100% 200%;
    overflow: auto;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.container {
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    justify-content: flex-start;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    background: linear-gradient(to left, #7289DA, #a6d3ff); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

p {
    font-size: 1.5em;
    margin-top: 0.2em;
}

.contact-info {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-box {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 20px;
    width: 300px; 
    margin: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.contact-box:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.contact-box h3 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-box p {
    color: #ccc;
    font-size: 1.2em;
    margin: 10px 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ccc;
}

.footer-text {
    color: #fff;
    font-size: 14px;
}

.buttons {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.home-button,
.myprojects-button {
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s;
}

.home-button:hover,
.myprojects-button:hover {
    color: #ccc;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1px;
    background: #333;
}
